[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%C(yellow)% %h %C(green)% %ad %C(reset)% %s%C(dim)% %d\" --graph --date=short
    diffc = diff --cached
[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global
    # Make git rebase safe on Mac
    trustctime = false
    # Don't show files with non-ASCII filenames as unversioned
    precomposeunicode = false
[diff]
    renames = copies
    renamelimit = 0
[pull]
    rebase = true
[push]
    followTags = true
    default = simple
